/* CSS 的5种基本选择器：
1. 元素选择器 */
h1 {
    color: #c9394a;
}

/* 2. 类选择器 */

.myDiv {
    color: #c9394a;
}

/* 3. ID选择器 */
 #myId {
     color: #c9394a;
 }

 /* 4. 属性选择器 */

 [name="imooc"] {
     color: #c9394a;
 }

 /* 5. 通配符选择器 */

 * {
     color: #c9394a;
 }

 /* CSS的字体属性：
 - font-family属性
 - font-size属性
 - font-weight属性 */

 h1 {
     font-family: 'Times New Roman', Times, serif;
 }

 /* CSS的文本阴影部分
 - text-shadow属性: 水平偏移量 垂直偏移量 模糊半径 颜色;
 - 模糊半径如果没有指定数值，则默认为0，值越大，模糊半径越大，阴影也就越大越淡
 - 阴影颜色，
 - -1px：水平偏移量， 负号代表向左偏移，正号向右
 - -3px：垂直偏移量，负号代表向上偏移， 正号向下 */

 h1 {
     text-shadow: #f03740 -1px -3px;
 }

 /* ------------------------------------------------------------ */

 /* 列表样式属性：
 - list-style-type属性用来设置项目符号的形状 */

 ul {
     list-style-type: circle;
 }

 /* ------------------------------------------------------------ */

 /* 什么是盒子模型？
 - 盒子模型用于设计HTML页面和实现HTML页面布局
 - 由里到外： 内容区 -> 内边距 -> 边框 -> 外边距 */

/* ------------------------------------------------------------ */
/* 盒子模型的内边距：
- padding属性用来设置内边距 */

ul {
    padding: 10px;
}

/* ------------------------------------------------------------ */

/* 盒子模型的外边距： 
- margin属性用来设置外边距 */

ul {
    margin: 10px;
}


/* ------------------------------------------------------------ */

 /* 盒子模型的边框
 CSS的border属性用来设置边框
 实线边框（solid）、虚线边框（dashed）、点线边框（dotted）、双线边框（double）
border       宽度  样式   颜色 */

 ul {
     border: 1px dashed lightslategray;  
 }

 /* border-top 属性用来设置上边框
 border-right 属性用来设置右边框
 border-bottom 属性用来设置下边框
 border-left 属性用来设置左边框 */

/* ------------------------------------------------------------ */
/* 什么是超链接？
- 超链接的作用是从当前网页跳转到指定的另一个网页

超链接标签与属性：
<a> 标签表示超链接，并且使用href属性设置要跳转的页面地址 */

/* <a href="https://www.imooc.com/">慕课网</a> */
/* 
超链接样式属性：
- text-align属性设置文本内容在水平方向的对齐方式
- line-height属性设置文本内容所在行的高度
- text-decoration属性用于设置超链接的样式 */

h1 {
    text-align: center;
    line-height: 20px;
    text-decoration: none;
}
